
body {
    background-color: rgb(155, 155, 155);
}
.project-text {
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}
.line{
    width: 100%;
    text-align: center;
    color: blue;
}
.hi { width: 100%;
    text-align: right;
    color: rgb(0, 76, 255);
}
.b{ width: 100%;
    text-align: right;
 background: #7f7f7f;
}
.bc{
   background: #616161;
    color: rgb(0, 76, 255);
}
.cb{
    width: 100%;
    text-align: center;
}
.like{  width: 2;
        height: 2;
}
.like2{
    width: 2;
    height: 2;
}
.like1{
    width: 100%;
    text-align: center;
}
.like3{
    width: 100%;
    text-align: center;
}
.like4{
    width: 100%;
    text-align: center;
}
.like5{
    width: 100%;
    text-align: center;
}
.like6{
    width: 100%;
    text-align: center;
}
.linej{
    width: 100%;
    text-align: center;
}
.cj{
    width: 100%;
    text-align: center;
}